
.main-font{font-family: 'Microsoft Yahei';}
.alt-font{font-family: 'Microsoft Yahei';}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/ 
::-webkit-scrollbar 
{ 
    width: 10px; 
    height: 10px; 
    /* background-color: #F5F5F5;  */
} 
   
/*定义滚动条轨道 内阴影+圆角*/ 
::-webkit-scrollbar-track 
{ 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px; 
    background-color: #F5F5F5; 
} 
   
/*定义滑块 内阴影+圆角*/ 
::-webkit-scrollbar-thumb 
{ 
    border-radius: 10px; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); 
    background-color: #555; 
} 

/* ===================================
    General
====================================== */
html {
    font-size: 62.5%;
  }
  
body {font-family: 'Microsoft Yahei',  font-size: 16px;color: #696969;font-weight:300;line-height:25px;width: 100%; overflow-x: hidden}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {line-height: 1.2; font-weight: 500; font-family: 'Poppins', sans-serif; color: #3e3939;}
a, *::before, *::after, img, span, input, button, .navbar, .fixedmenu, .tp-bullet, .owl-dot, .owl-prev, .owl-next {transition: ease-in-out 0.2s;-webkit-transition: ease-in-out 0.2s;-moz-transition: ease-in-out 0.2s;-ms-transition: ease-in-out 0.2s;-o-transition: ease-in-out 0.2s;}
section,.section-padding {position: relative;overflow: hidden;}
.section-top-margin{margin-top: 7.5rem;}
a {color:inherit;text-decoration: none;}
.rev_slider_wrapper{width: 100% !important;}
.btn.focus, .btn:focus{box-shadow: none;}
p:last-child{margin-bottom: 0 !important;}
.fa, .far, .fas{display: inline;}
a:active, a:hover{}
blockquote {border-left: 2px solid;padding: 10px 15px 10px 35px;margin: 25px 0;font-size: 18px;line-height: 28px;margin-top: 32px;margin-bottom: 32px;}
blockquote > cite {font-weight: 400;font-size: 14px;display: block;}
.hidden{display: none;}
p,h1,h5,h3,dl,dd,dt{
    margin: 0px;
    padding: 0px;
}
ul{
    list-style: none;
}
/* transition none */
.no-transition *{transition-timing-function:initial; -moz-transition-timing-function:initial; -webkit-transition-timing-function:initial; -o-transition-timing-function:initial; -ms-transition-timing-function:initial; transition-duration: 0s; -moz-transition-duration: 0s; -webkit-transition-duration: 0s; -o-transition-duration: 0s; -ms-transition-duration: 0s;}

/* opacity */
.opacity-full{opacity: 1;}
.opacity-3{opacity: .3;}
.opacity-4{opacity: .4;}
.opacity-5{opacity: .5;}
.opacity-6{opacity: .6;}
.opacity-7{opacity: .7;}
.opacity-7{opacity: .7;}
.opacity-8{opacity: .8;}
.opacity-9{opacity: .9;}

/*font-weight*/
.font-weight-100{font-weight: 100;}
.font-weight-300{font-weight: 300;}
.font-weight-500{font-weight: 500;}
.font-weight-600{font-weight: 600;}

/* button */
.btn {-webkit-appearance: initial; overflow: hidden;position: sticky; z-index: 2; display:inline-block; font-size: 17px; border:2px solid transparent; letter-spacing: .5px; line-height: inherit; border-radius: 0; text-transform:capitalize; width: auto;font-family: 'Poppins', sans-serif; font-weight: 500; -webkit-transition: all .5s ease;-o-transition: all .5s ease !important;transition: all .5s ease !important;}
/* button size */
.btn.btn-small {font-size:12px; padding: 4px 1.8em;}
.btn.btn-medium {font-size:12px; padding: 6px 1.8em;}
.btn.btn-large {font-size:14px; padding: 9px 34px; line-height: 1.8em;}
.btn.btn-rounded {border-radius: 50px;}

.btn-link,.btn-link:hover,.btn-link:focus{color:#20263a; text-decoration: none;padding: 0;}
.btn-link::after {content: attr(data-text);display: inline-block;width: 0;height: 100%;position: absolute;top: 0;left: 0;white-space: nowrap;color: #86cd88;overflow: hidden;-webkit-transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);-o-transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);}
.btn-link:hover::after {width: 100%;}

/* button background */
.btn.btn-white {background:#ffffff; border-color: #ffffff; color: #585858}
.btn.btn-white:hover, .btn.btn-white:focus {background: transparent !important; border-color: #ffffff; color:  #ffffff !important}
.btn.btn-transparent-white {background:transparent; border-color: #ffffff; color:  #ffffff}
.btn.btn-transparent-white:hover, .btn.btn-transparent-white:focus {background: #ffffff !important; color: #585858 !important}
.btn.btn-transparent-black {background:transparent; border-color: #2b2b2b; color: #2b2b2b}
.btn.btn-transparent-black:hover, .btn.btn-transparent-black:focus {background: #2b2b2b !important; color: #ffffff !important}
.btn.btn-black {background: #2b2b2b; border-color: #2b2b2b; color: #ffffff}
.btn.btn-black:hover, .btn.btn-black:focus {background: transparent !important; border-color: #2b2b2b; color: #2b2b2b !important}
.btn.btn-green {background: #20263a; border-color: #20263a; color: #ffffff}
.btn.btn-green:hover, .btn.btn-green:focus {background: transparent !important; border-color: #20263a; color: #20263a !important}
.btn.btn-hvr-white:hover, 
.btn.btn-hvr-white:focus {background: #ffffff !important; border-color: #ffffff; color: #585858 !important}
.btn.btn-yellow {background: #faaf4a; border-color: #faaf4a; color: #20263a}
.btn.btn-yellow:hover, .btn.btn-yellow:focus {background: transparent !important; border-color: #faaf4a; color: #faaf4a !important}


SPAN:focus{
    outline:none;
    hide-focus:expression(this.hideFocus=true);
}

.banner{
    position: relative;
    height: 100%;
    padding-bottom: 155px;

}
.banner .swiper {
    width: 80%;
    height: 100%;
    margin: 0px auto;
    overflow: hidden;
}
.banner .swiper-slide { 
  background-color: #20273a;
  padding: 55px;
  border: 1px solid #2d344e;
  border-radius: 5px;
  
}
.banner .swiper-slide.swiper-slide-active {
    border: 1px solid #fcb040; 
}

.banner .swiper-button-prev{
    background-color: #cccccc;
    color: rgba(0, 0, 0, 0)!important;
    width: 79px;
    height: 79px;
     text-align: center;
    z-index: 999;
    left: 0;
    background: url(../img/lefts.png);
}

.banner .swiper-button-next{
    color: rgba(0, 0, 0, 0)!important;
    width: 79px;
    height: 79px;
    text-align: center;
    z-index: 999;
    right: 0;
    background: url(../img/rights.png);
 }
 .banner .swiper-slide .img{
     width:100%;
     margin: 0px auto;
     margin-bottom: 35px;
 }
 .banner .swiper-slide .img img{
    /* width: 100%; */
    height: auto;
}



   
   

.banner .swiper-pagination-bullet{ width:12px; height:12px; border-radius:12px; transition:all linear .2s; background:#fcb040;margin-left: 10px;}
.banner .swiper-pagination-bullet-active{ background:rgba(252,176,64,.8); width:52px; margin-left: 10px;}
.ban_pag{
    width: 100%;
    bottom: 0px;
}
   


.banner .swiper-slide dl{
    line-height: 2;
    display: flex;
    width: 100%;
    clear: both;
    align-items: center;
    color: #f39800;
}
.banner .swiper-slide dl span{
    width: 50px;
    color: #ffffff;
    display: block;

}
.banner .swiper-slide dl font{
    color: #f39800;
}

.banner .swiper-slide .chiS a i{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #131621;
    display: inline-block;
    position: relative;
    display: block;
}
.banner .swiper-slide .chiS a.on i{
    background: #f39800;
    width: 18px;
    height: 18px;
    border: 3px solid #131621;
}
.banner .swiper-slide .chiS a{
    border: 3px solid #313b54;
    border-radius: 50%;
    display: inline-block;
 
}
.banner .chuJi{
    position: absolute;
    bottom: 39px;
    width: 100%;
    text-align: center;
}
   
.banner .chuJi a{
    background: #2b5ed3;
    color: #ffffff;
    border-radius: 55px;
    padding: 5px 65px;
}

.banner  .swiper-button-next.on{
    background:url("../img/rights.png") center center no-repeat;
    border: 0px;
  }
.banner  .swiper-button-prev.on{
    background:url("../img/lefts.png") center center no-repeat;
    border: 0px;
  }
   







.bannerWap{
    position: relative;
    height: 100%;
    padding-bottom: 155px;

}
.bannerWap .swiper {
    width: 80%;
    height: 100%;

}
.bannerWap .swiper-slide { 
  background-color: #20273a;
  padding: 15px;
  border: 1px solid #2d344e;
  border-radius: 5px;
  
}
.bannerWap .swiper-slide.cur {
    border: 1px solid #fcb040; 
}

.bannerWap .swiper-button-prev{
    background-color: #cccccc;
    color: rgba(0, 0, 0, 0)!important;
    width: 79px;
    height: 79px;
     text-align: center;
    z-index: 999;
    left: 0;
    background: url(../img/left.png);
}

.bannerWap .swiper-button-next{
    color: rgba(0, 0, 0, 0)!important;
    width: 79px;
    height: 79px;
    text-align: center;
    z-index: 999;
    right: 0;
    background: url(../img/right.png);
 }
 .bannerWap .swiper-slide .img{
     width: 80%;
     margin: 0px auto;
     margin-bottom: 35px;
 }
 .bannerWap .swiper-slide .img img{
    width: 100%;
    height: auto;
}



   
   

.bannerWap .swiper-pagination-bullet{ width:12px; height:12px; border-radius:12px; transition:all linear .2s; background:#fcb040;margin-left: 10px;}
.bannerWap .swiper-pagination-bullet-active{ background:rgba(252,176,64,.8); width:52px; margin-left: 10px;}
.ban_pagWap{
    width: 100%;
    bottom: 0px;
}
   


.bannerWap .swiper-slide dl{
    line-height: 2;
    display: flex;
    width: 100%;
    clear: both;
    align-items: center;
    color: #f39800;
}
.bannerWap .swiper-slide dl span{
    width: 50px;
    color: #ffffff;
    display: block;

}
.bannerWap .swiper-slide dl font{
    color: #f39800;
}

.bannerWap .swiper-slide .chiS a i{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #131621;
    display: inline-block;
    position: relative;
    display: block;
}
.bannerWap .swiper-slide .chiS a.on i{
    background: #f39800;
    width: 18px;
    height: 18px;
    border: 3px solid #131621;
}
.bannerWap .swiper-slide .chiS a{
    border: 3px solid #313b54;
    border-radius: 50%;
    display: inline-block;
 
}
.bannerWap .chuJi{
    position: absolute;
    bottom: 73px;
    width: 100%;
    text-align: center;
}
   
.bannerWap .chuJi a{
    background: #2b5ed3;
    color: #ffffff;
    border-radius: 55px;
    padding: 5px 65px;
}

.tanchu-infor .gongxi-box{
    background: #131621;
    padding: 10px;
    font-size: 16px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    border: 2px solid #313b54;
}

.gongList li.cur{
    box-shadow: 0px 0px 20px #fbff0e;
}

/* overlay */
.bg-overlay{position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 1;}

/* background color */
.bg-black{background: #000000;}
.bg-dark {background-color: #1d1d21 !important;}
.bg-blue {background-color: #03a9f5;}
.bg-pink {background-color: #f033b5;}
.bg-purple {background-color: #9556f5;}

/* text-color */
.main-color{color: #fbb040;}

/*Max Width*/
.mx-570{
    max-width: 570px;
    display: inline-block;
}



.header-left{
    width: 90px;
    height: 100%;
    min-height: 100vh;
    float: left;
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    display: inline-block;
    background-color: #20263a;

}
.signle-layout{
    background: #f3f3f3;
}

.xing-list li{
 margin-top: 12px;
 margin-bottom: 12px;
}

.main-left{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding-left: 90px;

}

.logo{
    width: 90px;
    height: 120px;
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: #20263a;
    font-weight: 600;
}

.fabox .fa{
    margin-right: 8px;
}

.logo > .logo-text{
    display: block;
    text-align: center;
    width: 100%;
    color: #fff;
}

.icon img {
    width: 24px;
    margin-right: 10px;

}
.sns{
    position: fixed;
    right: 20px;
    z-index: 999;
    font-size: 20px;
    top: 10px;
}

.sns a{
    margin-left: 15px;
}

.fabox2 .row a{
    padding: 10px;
    margin-right: 15px;
}

.logo > .logo-text img{
    max-width: 70px;
}

/* side menu button */

.sidemenu_btn {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    width: 36px;
    padding: 6px;
    position: relative;
    display: none;
    margin-right: 20px;
}

.sidemenu_btn_inner{
    height:70px;
    width:70px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    float: left;
}

.sidemenu_btn span {
    height: 3px;
    width: 100%;
    background-color: #fbb040;
    display: block;
}

.sidemenu_btn span:nth-child(2) {
    margin: 4px 0;
}

.site-main-menu{
    list-style: none;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 0px;
}

.site-main-menu span{
    display: block;
}

.site-main-menu li {
    margin-top: 5px;
    margin-bottom: 5px;
}

.site-main-menu li > a{
    display: block;
    width: 80%;
    padding: 8px 0px;
    font-size: 12px;
    line-height: 1.2;
    position: relative;
    margin-left: 10%;
    font-weight: bold;
    color: #fbb040;
}

.left-icon{
    width: 22px;
}

.site-main-menu li > a i,.site-main-menu li > a:hover{
    transition: color .1s ease-in-out;
}

.site-main-menu li > a:hover i,.site-main-menu li > a:hover span{
    color: #fff;
    transition: color .1s ease-in-out;
}

.site-main-menu li:first-child > a{

}

.site-main-menu li.active > a{
    color: #000;
    background: #fbb040;
    border-radius: 8px;
}



.site-main-menu li > a i{
    font-size: 18px;
    margin-bottom: 7px;
    display: block;
    color: #fbb040;
}

.site-main-menu li.active > a i {
    color:#fff;
}

/* ===================================
    Page Chanager
  ====================================== */

.pt-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

.subpages {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-perspective: 1500px;
    -moz-perspective: 1500px;
    perspective: 1500px;

 
}

.pt-page {
    width: 100%;
    height: 0;
    position: absolute;
    opacity: 0;
    top: auto;
    left: 0;
    display: flex;
    min-height: 100vh;
    align-items: center;
    background-color: #161b28;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.pt-page-current, .no-js .pt-page {
    visibility: visible;
    z-index: 90;
    opacity: 1;
}

.min-height-100vh{
    min-height: 100vh;
}

/* ===================================
    Slider
  ====================================== */

.slider-image {
    position: relative;
    margin: 0 auto;
    background-color: #fbb040;
    border-radius: 50%;
    top: 150px;
    margin-bottom: -80px;
}

.slider-image img {
    top: -150px;
    width: 100%;
    position: relative;
}




@-webkit-keyframes right-to-left {
    0% { margin-left: 0;}
    50%{ margin-left : -100px;}
    100%{ margin-left: 0;}
}

.shape-plus {
    position: absolute;
    top: 15%;
    left: 13%;
    border-radius: 1px;
    background: #20263a;
    height: 40px;
    width: 5px;
    opacity: .6;
    transform: rotate(55deg);
    -webkit-animation: rotating 20s linear infinite;
}

.shape-plus:after {
    border-radius: 1px;
    background-color: #20263a;
    content: "";
    height: 5px;
    position: absolute;
    top: 17px;
    width: 40px;
    left: -17px;
}

.shape-circle{
    position: absolute;
    bottom: 50px;
    left: 70px;
    width: 60px;
    height: 60px;
    opacity: .6;
    border: 5px solid #20263a;
    border-radius: 50%;
    -webkit-animation: heartBeat 10s linear infinite;
}

.heading-box{
    padding-left: 3.5rem;
}

.heading-box h2{
    font-size: 80px;
    line-height: 90px;
    font-weight: 600;
    margin-bottom: 1.25rem;
}

.phone-add{
    display: none;
}

/* ===================================
    购买盲盒
====================================== */
a.qianBaos{
    display:inline-block;
    color: #000000;
    font-size: 14px;
    background: red;
    text-align: center;
    line-height: 2;
    border-radius: 3px;
    padding: 2px 15px;
    font-weight: bold;
    position: absolute;
    top: 15px;
     right: 55px;
}

a.qianBaos-phone{
    display: none;
}

.mangList{
    display: flex;
    justify-content:space-between;
    width: 60%;
    margin: 0px auto;
}
.mangList .list{
    width: 23%;
    text-align: center;
}

.mangList .list .img{
    width: 100%;
    height: 100%;
}
.mangList .list img{
    width: 100%;
}
.mangList .list a{
    border: 1px solid #fbb040;
    border-radius: 35px;
    line-height: 2;
    color: #fbb040;
    display: block;
}
.mangList .list h3{
    color: #fbb040;
    line-height: 3;
    font-size: 16px;
}
.mangList .list:hover a{
    background:#fbb040;
    color: #000000;
    font-weight: bold;
}
.tsWz{
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #ffffff;
}

.tsWz a{
    color: #fbb040;
}





/* ===================================
    用户中心
====================================== */

.tab{width: 100%;height: 50px;
    overflow: hidden;
    border-bottom: 3px solid #fbb040;
    margin-top: 35px;
   
}
.tabItem{width: 10%;
    height: 50px;float: left;line-height: 50px;
    text-align: center;
    border-radius: 5px;
    color: #fbb040;
}
.tabItem.active{background: #fbb040;
    color: #000000;
}




.kuaiDi{
    height: 90vh;
    width: 100%;
    
   

}
.kuaiDi .swiper-container{
    height: 100%;
 

}


.kuaiDi .swiper-slide{
    height: 100%;
    position: relative;

}

.mt10{
    margin-top: 10px;
}

#foo{
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
}

.peoImg{
    width: 36px;
    height: 36px;
    overflow: hidden;
}
.peoImg img{
    width: 100%;
    border-radius: 50%;
}
.topMenu{
    position: fixed;
    right: 0px;
    display: flex;
    width: 230px;
    z-index: 99;
    align-items: center;
    top: 20px;
}
.peoName{
    margin-left: 10px;
    color: #ffffff;
}
a.logins{
    display: inline-block;
    background: greenyellow;
    line-height: 1.5;
    padding: 0 10px;
    color: #000000;
    border-radius: 5px;
    margin-left: 10px;
}

.userInf .rowsTwo{
    display: flex;
    align-items: center;
    background: #20263a;
    border: 1px solid #313b54;
    padding: 25px 0px;
    border-radius: 3px;
    width: 73%;
    margin-top: 15px;
    margin-right: 10px;
    justify-content: center;
 
}

.userInf{
    display: flex;
    margin-left: 2px;
    flex-wrap: wrap;
}

.userInf.money{
    justify-content: space-between;
}

.userInf .rows{
    margin-right: 1%;
    display: flex;
    align-items: center;
    background: #20263a;
    border: 1px solid #313b54;
    padding: 25px 25px;
    border-radius: 3px;
    width: 30%;
    margin-top: 15px;
 
}

.rowsTwo a.z {
    background: #fbb040;
    padding: 4px 15px;
    border-radius: 0px;
    color: #000;
}

.userInf span.wen {
    margin-left: 5%;
}

.userInf .rowsTwo{
    display: flex;
    align-items: center;
    background: #20263a;
    border: 1px solid #313b54;
    padding: 25px 0px;
    border-radius: 3px;
    width: 69%;
    margin-top: 15px;
    margin-right: 0px;
    justify-content: center;
 
}

.userInf .rows .img{
    width: 55px;
    height: 55px;
    overflow: hidden;
    border-radius: 50%;
}
.userInf .rows .img img{
    width: 100%;
}
.userInf .rows .address {
    margin-left: 10px;
    flex: 1;
}
.userInf .rows .address h5{
    color: #ffffff;
    font-size: 14px;
}
.userInf .rows .address h5 i{
    margin-left: 15px;
}
.userInf .rows .address h3{
    color: #fbb040;
    font-size: 19px;
    font-weight: bold;
}
.userInf .rows .address a{
    color: #000000;
    font-size: 14px;
    background: #fbb040;
    display: block;
    width: 45%;
    text-align: center;
    line-height: 2;
    border-radius: 3px;
    margin-top: 4px;
}
.gongTab{
    border-bottom: 3px solid #20263a;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;

}


.gongTab .gl span{
    color: #ffffff;
    font-size: 14px;
}

.gongTab .gl span i{
    color: #fbb040;
    font-style: normal;
}
.gongTab .gl a{
    display: inline-block;
    background: #fbb040;
    color: #000000;
    padding: 2px 10px;
    font-weight: bold;
    margin-left: 10px;
    border-radius: 5px;
}
.gr .on{
    color: #e9b77b;
}

.gongList{
width: 100%;

}
.gongList li{
    float: left;
    width: 9%;
    margin-right: 1.1%;
    margin-top: 15px;
    position: relative;
}

.gongList li img.svg0,.gongList li img.svg1{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    animation: loader-bounce 5s infinite ease-in-out ;
}

.gongList li img.svg0{
    display: none;
}

.gongList li:nth-child(10n){
    margin-right: 0px;
}
.gongList li img{
    width: 100%;
}
.page{
    display: flex;
    justify-content: center;
    clear: both;
    position: absolute;
    width: 100%;
    bottom: 22px;
}
.page a{
    color: #fbb040;
    padding: 5px 5px;
    margin: 0 5px;
    font-size: 12px;
    line-height: 1;
    border-radius: 5px;
}
.page a.on{
    color: #000000;
    padding: 5px 5px;
    background: #fbb040;
}

@-webkit-keyframes loader-bounce {
    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

}

@keyframes loader-bounce {
    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

}

.close a{
    color: #fbb040 !important;
    cursor: pointer;
}

.close {
    text-shadow: inherit;
    opacity: 1;
}

.tanMeng{
    background: rgb(0, 0, 0,0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    
}
.tanMeng.on{
    display: flex;
}
.tanShow{
    background: #20263a;
    width: 50%;
   
    position: relative;
    border-radius: 5px;
    border: 1px solid #313b54;
    padding: 10px 0;
    
}
.close{
    text-align: right;
    
    width: 100%;
}
.close a{
    color: #fbfbfb;
    padding: 10px;
    display: inline-block;
}
.tanShow .details{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0px auto;
}
.tanShow .detail .img{
    width: 40%;
}
.tanShow .descs {
    width: 40%;
    margin-left: 15px;
}

.tanShow .descs h1{
    color: #f39800;
    font-size: 15px;
    line-height: 2;
}
.tanShow .descs dl{
    line-height: 2;
    display: flex;
    width: 100%;
    clear: both;
    align-items: center;
 
}
.tanShow .descs dl span{
    width: 50px;
    color: #ffffff;
    display: block;

}
.tanShow .descs dl font{
    color: #f39800;
}
.tanShow .descs .chiS{


}
.tanShow .descs .chiS a i{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #131621;
    display: inline-block;
    position: relative;
    display: block;
}
.tanShow .descs .chiS a.on i{
    background: #f39800;
    width: 18px;
    height: 18px;
    border: 3px solid #131621;
}
.tanShow .descs .chiS a{
    border: 3px solid #313b54;
    border-radius: 50%;
    display: inline-block;
 
}
.shengLv{
    background: #131621;
    border-radius: 55px;
     width: calc(100% - 100px);
     height: 18px;
     padding: 3px 5px;   
     border: 3px solid #313b54;
}

.banner .swiper-slide dl i{
    color: #f39800;
    font-style: normal;
    text-align: right;
    width: 45px;
    display: inline-block;
}

.shengLv a{
    background: #f39800;
    border-radius: 55px;
    display: block;
    height: 100%;
}
.beizhu{
    color: #ffffff;
    margin-top: 10px;
}
.confirm{
    width: 100%;
    text-align: center;
    padding: 35px 0;
}
.confirm a{
    background: #2a5ed3;
    border-radius: 35px;
    line-height: 2;
    color: #ffffff;
    font-size: 15px;
    display: inline-block;
    padding: 0 55px;
}

.listItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    border-top: 5px solid #20263a;
    padding-top: 15px;
}
.yaoQing a{
    background: #f39800;
    border-radius: 5px;
    color: #000000;
    font-weight: bold;
    padding: 5px 10px;
    font-weight: bold;
}
.yaoRight  span{
    color: #f39800;
    margin-left: 10px;

}
.yaoRight  span i{
    font-style: normal;
    color: #ffffff;
    margin-left: 5px;
    font-weight: bold;
}
.yaoRight  span font{
  
    color: #727171;
    font-weight: bold;
    margin-left:5px;
    margin-right: 5px;
}
.qianList{
    width: 100%;
    margin-top: 35px;
}

.qianList ul{
    
    width: 100%;

}

.qianList ul li{
    border-top: 2px solid #1f2539;
    line-height: 3;
    width: 100%;
    display: flex;
    justify-content: space-between;
  
}
.qianList ul li span{
    text-align: center;
    width: 20%;
    color: #ffffff;
}

.qianList ul li span:nth-child(2){
    width: 60%;
}

.qianList ul li i{
    width: 20%;
    font-style: normal;
    text-align: center;
    color: #ffffff;
    white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}

.spes{
position:fixed;
top:10px;
left:10px;

    display: flex;
    justify-content:center;
    align-items: center;
	color:#fbb040;
	font-weight:bold
}
.spes span{
margin-left:10px
}


/* ===================================
    邀请
====================================== */
.tab2{width: 100%;height: 50px;
    overflow: hidden;
    border-bottom: 3px solid #fbb040;
    margin-top: 35px;
   
}
.tabItem2{width: 20%;
    height: 50px;float: left;line-height: 50px;
    text-align: center;
    border-radius: 5px;
    color: #fbb040;
}
.tabItem2.active{background: #fbb040;
    color: #000000;
}

.yaoQingList{
    width: 100%;
    margin-top: 35px;
    height: 85vh;
}
.yaoQingList ul{

    width: 100%;

}

.yaoQingList ul li{
    border-top: 2px solid #1f2539;
    line-height: 3;
    width: 100%;
    display: flex;

  
}
.yaoQingList ul li span{
    text-align: center;
    width: 33.3333%;
    color: #ffffff;
}

.yaoQingList ul li i{
    width: 33.3333%;
    font-style: normal;
    text-align: center;
    color: #ffffff;
}

.yaoQingList ul li a.del{
    color: #ffffff;
    background: #ef4136;
    border-radius: 5px;
    padding: 3px 10px;
    
}





/* ===================================
        Preloader
   ====================================== */

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #ffffff;
    z-index: 999;
}

.centrize {
    display: table;
    table-layout: fixed;
    height: 100%;
    position: relative;
}
.full-width {
    max-width: 100%;
    width: 100%;
}

.vertical-center {
    display: table-cell;
    vertical-align: middle;
}

.preloader .spinner {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
}

.preloader .spinner .double-bounce1,
.preloader .spinner .double-bounce2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #faaf4a;
    opacity: 1;
    -webkit-animation: loader-bounce 2s infinite ease-in-out;
    animation: loader-bounce 2s infinite ease-in-out;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
}

.preloader .spinner .double-bounce2 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
    opacity: 0.1;
}






.Language{
    position: absolute;
  
    width: 100%;
    text-align: center;
    bottom: 35px;
}
.Language a{
    font-weight: bold;
}
.Language a.active{
    color: #fbb040;
}

.tanchu-infor{
    text-align: center;    
}

.tanchu-infor strong{
    color: #f39800;
    font-size: 22px;
    font-weight: normal;
    display: block;
    margin-top: 30px;
}

.tanchu-infor p{
    color: #fff;
    font-size: 15px;
    margin-top: 30px;
}

.tanchu-infor p.src{
    font-size: 16px;
}

.tanchu-infor strong.copy{
    margin-top: 100px;
}

.table-box span{
    width: 100px;
    display: inline-block;
}

.table-box span:nth-child(2n+1){
    text-align: left;
}

.table-box span:nth-child(2n){
    text-align: right;
}

.tixian a{
    margin:10px 20px;
}

.mt30{
    margin-top: 30px;
}

.tixian a:first-child{
    background: #e6002c;
}

.nandu-box{
    text-align: center;

}

.nandu-box ul{
    background: #20263a;
    padding:10px 30px;
    display: inline-block;
    border-radius: 100px;
  

}

.nandu-box ul li{
    display: inline-block;
    background: #161b28;
    padding: 10px 20px;
    border-radius: 100px;
    color: #fff;
    margin: 0 10px;
    cursor: pointer;
}

.nandu-box ul li.on{
    background: #fbb040;
    color: #161b28;
}

.nandu-box-phone ul{
    padding: 10px;
    margin-bottom: 0;
    margin-top: 20px;
}

.loading{
    background: rgb(0, 0, 0,0.6);
    width: 100%;
    height: 100%;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

.loading .oimg{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100px;
    z-index: 1000;
}

.starex{
    color: #fff;
    margin-top: 10px;
    text-align: center;
}



.kplbbox ul{
    overflow: hidden;
}

.tujianren{
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
    display: none;
}
.tujian-box{
    display: none;
}

.tujian-box .text,.tujian-box .button{
    margin-bottom: 0;
}

.qianList ul li span.aaa1{
    color: gold;
}

.qianList ul li span.aaa4{
    color: greenyellow;
}

.tujian-box{
    display: flex;
    margin-right: 15px;
}

.myAddress{
    color: #fff;
    margin-right: 10px;
}

.pc-add .myAddress{
    display: inline-block;
    position: absolute;
    top: 19px;
    right: 133px;
}

.swiper-none{
    margin-top: 20vh;
    margin-bottom: 20vh;
    color: #daa520;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid #daa520;
    padding: 10px;
    text-align: center;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.tujianren{
    display: none;
}

.allsuccess{
    text-align: center;
}

.allsuccess .tanShow{
    max-width: 550px;
    color: goldenrod;
    background: rgb(0, 0, 0,0.6);
}

.gongTab .xingji-box .xing i{
    padding: 0px 5px;
    margin-left: 5px;
    border-radius: 5px;
    font-size: 12px;
    display: inline-block;
    background: #fbb040;
    color: #000000;
    cursor: pointer;
    font-weight: bold;

}


.gongTab .xingji-box .xing i.on{
    background: #ef4136;
    color: #fff;
}

.sysnowtime{
    position: absolute;
    top: 13px;
    color: #fff;
    z-index: 9999999;
    left: 107px;
}


@-webkit-keyframes twinkling{ 
    0%{ 
    opacity: 0.5; 
    } 
    100%{ 
    opacity: 1; 
    } 

}

@keyframes twinkling{ 
    0%{ 
    opacity: 0.5; 
    } 
    100%{ 
    opacity: 1; 
    } 
}


#loading {
    margin: auto;
    margin-top: 10px;
    display: block;
    width: 100px;
    height: 100px;
    background: #FFFFFF;
    /*border: 1px solid black;*/
}

#loading .pic {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 2px 0 rgb(249, 253, 11);
    animation: loop 1s infinite;
    -webkit-animation: loop 1s infinite;
}

@keyframes loop {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg );
    }
}


.myMoney{
    line-height: 3;
    color: #ffffff;
    border-bottom: 3px solid #20263a;
    display: flex;
    justify-content: space-between;
}


.numList{
    display: flex;
    justify-content: space-between;
    width: 58%;
    margin-right: 5%;


}
.zynum{
    margin-bottom: 0;
    line-height: 1;
    padding: 6px 10px;
}

.numList div{
    border: 1px solid #313b54;
    border-radius: 5px;
    position: relative;
    width:19%;
    display: block;
    height: 80px;
    color: #6f83c7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.numList div em{
    width: 100%;
    font-size: 20px;
    text-align: center;
}
.numList div p{
    width: 100%;
    font-size: 20px;
    text-align: center;
}

.numList div.on{
    border: 1px solid #ffb000;
}

.numList div.on span{
    display: block;
    position: absolute;
    left: 2px;
    bottom: 2px;

}
.numList div span{
    display: none;

}


.jiangList{
    width: 100%;
    margin-top: 35px;
    border-top: 2px solid #1f2539;
}
.jiangList ul{

    width: 100%;

}

.jiangList ul li{
    border-top: 2px solid #1f2539;
    line-height: 3;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #646464;
  
}
.jiangList ul li.on{
    color: #ffffff;
}

.jiangList ul li span{
    text-align: center;
    width: 20%;
    color: #ffffff;
    position: relative;
}
.jiangList ul li span::after{
    content: '';
    height: 50%;
    width: 1px;
    background: #ffffff;
    right: 0;
    top: 20%;
    position: absolute;

}



.jiangList ul li i{
    width: 20%;
    font-style: normal;
    text-align: center;
    color: #646464;
    white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}

.jiangList ul li.on i{
    color: #ffffff;
}
.jiangList a.shuHui{
    background: #fbb040;
    color: #000;
    border-radius: 5px;
    padding: 3px 10px;
}

.jiangList a.shuHui.disable{
    background: #4e4e4e;
}

.myMoney2 {
    line-height: 3;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.myMoney2 span {
    color: #ef4136;
}

.kaiJiang{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.kaiJiang .kaiLeft{
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;

}
.kaiJiang .kaiLeft .box{
    position: relative;
    height: 85vh;

    display: block;
    padding: 0 15px;

    

}
.kaiJiang .kaiLeft .box img.b1{
    height: 80%;
}
.kaiJiang .kaiLeft .box .numberBox{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 75px;
}
.kaiJiang .kaiLeft .box .numberBox img{
    display: block;
    width: 100%;
    height: auto;
}
.numberRela{
    position: relative;
}
.number{
    position: absolute;
    left: 3%;
    bottom: 0px;
 
    width: 100%;
}

.to__led-number {
    position: relative;
    margin-right: 5px;
    font-size: 3.1rem;
    width: 8%;
    height: 60px;
    padding: 0.25rem 0;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    color: #ffa200;
    font-weight: bold;

}

.to__led-number--no {
    width: 3%;
    background: unset;
    border: none;
    font-size: 18px;
}
.textRight{
    text-align: right;
}
.link{
    background: #fbb040;
    border-radius: 5px;
    padding: 5px 15px;
    color: #000000;
}
.link2{
    background: #fbb040;
    border-radius: 30px;
    padding: 5px 35px;
    color: #000000;
    font-weight: bold;
    display: inline-block;
    margin: 10px 0 ;

}
.kaiJiang .kaiRight{
    width: 40%;
    margin-left: 5%;
    margin-top: 22px;
}
.content{
    font-size: 16px;
    line-height:1.5;
    color: #000000;
    margin: 25px 0;
}
.content img{
    max-width: 100%;
    margin: 10px 0;
}

/* .nousecar .tanShow{
    max-width: 90%;
} */

/* ===================================
    Media Queries
   ====================================== */
@media screen and (max-width:1120px){
    .to__led-number {
        position: relative;
        margin-right: 2px;
        font-size: 2.1rem;
        width: 6%;
        height: 40px;
        padding: 0.25rem 0;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        box-sizing: border-box;
        color: #ffa200;
        font-weight: bold;
    
    }
}



@media screen and (max-width:368px){
    .link{
        font-size: 12px;
        background-color: #2a5ed3;
    }
}



@media screen and (max-width:1366px){

    .site-main-menu{
        padding-top: 85px;
    }

    .xingji-box{
        display: flex;
        justify-content: space-between;
    }

   
    

    .shape-plus{
        display: none;
    }

    .shape-circle{
        display: none;
    }

    .heading-box h2 {
        font-size: 70px;
        line-height: 80px;
    }

    .slider-image img{
        top: -100px;
    }

}

@media screen and (max-width:1199px){
    .heading-box h2{
        font-size: 60px;
        line-height: 60px;
    }
    .slider-image img{
        top: 0;
    }
    .slider-image{
        top: 0;
        overflow: hidden;
    }

    .sysnowtime{
        top: 91px;
        left: 0;
        width: 100%;
    }

    .userInf .rows .address {
        text-align: left;
        flex: 1;
        margin-right: 15px;
    }

    .banner{
        display: none;
    }

    .bannerWap{
        display: block !important;
    }

    .userInf .rows .address h3 {
        text-align: left;
    }

}


@media screen and (min-width:991px) {
    .slider-container {
        max-width: 100%;
    }



    .kplbbox{
        height: 80vh;
        overflow-y: auto;
    }

    .qianList{
        height: 60vh;
        overflow-y: auto;
    }

    .yaoQingList ul{
        height: 48vh;
        overflow-y: auto;
    }
}


@media screen and (max-width:991px){

    body{
        text-align: center;
    }

    .site-main-menu span {
        display: block;
        font-size: 12px;
        font-weight: bold;
    }

    .phone-add{
        display: inline-block;
    }

    .pc-add .myAddress{
        display: none;
    }

   

    .tujian-box .text,.tujian-box .button{
        max-width: 155px;
    }

    .tujian-box{
        margin-right: 0px;
    }

    .heading-box{
        padding: 0;
    }

    .slider-image {
        max-width: 200px;
        margin: 0 auto 50px;
    }



    .feature-item{
        margin:10px;
    }

    .dot-box:after{
        display: none;
    }

    .pt-page {
        padding: 8rem 0 4rem;
    }

    .heading-box h2 {
        font-size: 50px;
        line-height: 60px;
    }

    .feature-item{
        text-align: center;
    }

    .heading-area{
         margin-bottom: 2rem;
    }

    .heading-area .title {
        font-size: 2.5rem;
        margin-bottom: 25px;
    }

    .heading-area .sub-title {
        margin-bottom: 10px;
    }
    .counter-area {
        margin: 3.5rem 0;
    }

    #client-nav {
        margin: 30px 0;
    }

    .address-item{
        margin: 3rem 0;
    }

    .map-half {
        height: 450px;
    }
    .main-left{
        padding: 0;
    }
    .header-left {
        width: 100%;
        height: 120px;
        min-height: auto;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 1px 1px 7px #000;
    }
    .logo {
        width: 80px;
        height: 120px;
        z-index: 9;
    }
 
    .site-nav{
        position: fixed;
        width: 80px;
        top: 0;
        left: -90px;
        height: 100vh;
        background-color: #20263a;
           -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
       
    }
    .site-nav.active{
        left: 0;
        
    }
    .sidemenu_btn{
        display: inline-block;
    }

}

@media screen and (max-width:767px) {

    #js-grid-mosaic-flat{
        min-height: 1700px;
    }
    
    .kaiJiang .kaiLeft .box .numberBox {
        bottom: 204px;
    }

    .kaiJiang .kaiLeft .box img.b1 {
        height: 57%;
    }

    .number {
        bottom: -11px;
    }

    .userInf .rowsTwo {
        width: 100%;
        margin-top: 15px;
        margin-right: 0;
        flex-wrap: wrap;
    }

    .jiangList ul li {
        font-size: .5rem;
    }

    .jiangList a.shuHui {
        display: block;
        line-height: 1;
    }
        
.numList{
    width: 100%;
    justify-content:space-around;
    margin-right: 0%;
    margin-bottom: 10px;
}

.numList div{
    border: 1px solid #313b54;
    border-radius: 5px;
    position: relative;
    width:17%;
    display: block;
    height: 70px;
    color: #6f83c7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.numList div img{
    width: 15px;
}

    .numList div em{
        width: 100%;
        font-size: .7rem;
        text-align: center;
    }
    .numList div p{
        width: 100%;
        font-size: .7rem;
        text-align: center;
    }


    .cbp-wrapper-outer,.cbp-wrapper-outer, .cbp-wrapper, .cbp-wrapper-helper{
        min-height: 300px;
    }

    .null-box{
        display: none;
    }
    
    .fabox2 .row{
        display: flex;
        justify-content: space-between;
    }

    .site-main-menu li.active > a{
        color: inherit;
    }

    .site-main-menu li.active > a i {
        color: #fbb040;
    }

    .counter-area .counters {
        width: 100%;
    }

    .counter-area .counters .content-s {
        width: 100%;
    }

    .content-s p span{
        word-wrap: break-word;
        width: 100%;
    }



    .heading-box h2 {
        font-size: 2.2rem;
        line-height: 2.2rem;
    }

    .heading-area .title {
        font-size: 2.2rem;
        margin-bottom: 15px;
    }

    .feature-item:nth-child(2) {
        margin-top: 20px;
    }

    .services-about .service-image{
        max-width: 100%;
    }
    .side-menu {
        width: 380px;
    }

}

@media screen and (max-width:567px) {

    .address-item li{
        width: 100%;
    }

    .address-item li:nth-child(2){
    margin-bottom: 1.5rem;
    }

}


@media screen and (max-width: 991px) {
    .pt-page {
        display: block;
    }
    section, .section-padding {
        overflow-y: auto;
    }
}


@media screen and (max-width:567px) {

   .header-left{
    z-index: 91;
    overflow: visible;   
   }

}


@media screen and (max-width:375px) {

    #js-grid-mosaic-flat {
        min-height: 1500px;
    }

    .xing-list li {
        margin-top: 10px;
        margin-bottom: 10px;
    }
 
 }


 @media screen and (max-width:768px){

    .to__led-number{
        height: 5rem;
    }

    .kaiJiang .kaiLeft{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    
    }
    .kaiJiang .kaiRight{
        width: 96%;
        height: 100%;
        margin-top: 2px;
        margin-left: 2%;
        padding: 15px 0;
    
    }


    .mangList{
       flex-wrap: wrap;
       clear: both;
    }
    .mangList .list{
        width: 100%;

        margin-top: 25px;
    }
    
    .mangList .list .img{
        height: auto;
        padding-bottom: 25px;
    }

    
    .tsWz{
        position:static;
    
        color: #ffffff;
    }
    
    .tsWz a{
        color: #fbb040;
        font-size: .5rem;
    }
    a.qianBaos{
        position: static;
        float: right;
        display: none;
    }

    a.qianBaos-phone{
        display: inline-block;
    }

    .gongTab .gl a{
        padding: 2px 5px;
        margin-left: 5px;
        border-radius: 5px;
        font-size: 15px;
    }

    .gongTab{
        display: block;
        margin-top: 10px;
        padding-bottom: 10px;
    }

    .gongTab .gr{
        text-align: left;
        margin-top: 10px;
        font-size: 12px !important;
    line-height: 1.4;
    }

    .tabItem{width: 33%;
        height: 50px;float: left;line-height: 50px;
        text-align: center;
        border-radius: 5px;
        color: #fbb040;
    }

    .gongList li{
        width: 45%;
        margin-right: 8%;
        margin-top: 15px;
    }
    .gongList li:nth-child(2n){
        margin-right: 0px;
    }
    .page{
        position: static;
        clear: both;
        padding-top: 15px;
    }

    .kuaiDi{
        height: auto;
        width: 100%;
    }
    .kuaiDi .swiper-container{
        height: 100%;
    }
    
    .userInf .rows{
        margin-right: 0px;
        padding: 25px 0px;
        width: 100%;
     
    }
    .userInf .rows .img{
        margin-left: 15px;
    }


    .listItem{
       flex-wrap: wrap;
       justify-content: flex-start;
    }
    .yaoQing {
       width: 100%;
       text-align: left;
 
    }

    .yaoQingList{
        width: 100%;
		height:auto
    }
    .yaoQingList li{  
   
          display: flex;
    justify-content: space-between;
    font-size: .5rem;
    padding-top: 10px;
    padding-bottom: 10px;
    }
    
.yaoQingList ul li span:nth-child(1){
    width: 40.33%;
    line-height: 1.6;

}
.yaoQingList ul li span:nth-child(2){
    width: 33.33%;

}
.yaoQingList ul li span:nth-child(3){
    width: 20%;

}

.yaoQingList ul li i:nth-child(1){
    width: 40.33%;

}
.yaoQingList ul li i:nth-child(2){
    width: 33.33%;

}
.yaoQingList ul li i:nth-child(3){
    width: 20%;

}



    
    .yaoRight{
        text-align: left;
        margin-top: 10px;
    }
    .yaoRight  span{
        margin-left: 0px;
        margin-right: 10px;
    }




    .tanShow{
        background: #20263a;
        width: 90%;
       
        position: relative;
        border-radius: 5px;
        border: 1px solid #313b54;
        padding: 10px 0;
        
    }
    .close{
        text-align: right;
        
        width: 100%;
    }
    .close a{
        color: #fbfbfb;
        padding: 10px;
        display: inline-block;
    }
    .tanShow .details{
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 0px auto;
        flex-wrap: wrap;
    }
    .tanShow  .img{
        width: 70%;
       
    }

    .tanShow  .img img{
        width: 100%;
    }

    .tanShow .descs {
        width: 95%;
        margin-left: 0;
    }
    
    .tanShow .descs h1{
        color: #f39800;
        font-size: 15px;
        line-height: 2;
    }
    .tanShow .descs dl{
        line-height: 2;
        display: flex;
        width: 100%;
        clear: both;
        align-items: center;
     
    }
    .tanShow .descs dl span{
        width: 50px;
        color: #f39800;
        display: block;
    
    }
    .tanShow .descs dl font{
        color: #f39800;
    }
    .tanShow .descs .chiS{
    
    
    }
    .tanShow .descs .chiS a i{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #131621;
        display: inline-block;
        position: relative;
        display: block;
    }
    .tanShow .descs .chiS a.on i{
        background: #f39800;
        width: 18px;
        height: 18px;
        border: 3px solid #131621;
    }
    .tanShow .descs .chiS a{
        border: 3px solid #313b54;
        border-radius: 50%;
        display: inline-block;
     
    }
    .shengLv{
        background: #131621;
        border-radius: 55px;
         width: calc(100% - 100px);
         height: 18px;
         padding: 3px 5px;   
         border: 3px solid #313b54;
    }

    .bannerWap .swiper-slide dl i{
        color: #f39800;
        font-style: normal;
        width: 45px;
        text-align: right;
    }

.tab2{width: 100%;height: 30px;
    overflow: hidden;
    border-bottom: 3px solid #fbb040;
    margin-top: 35px;
   
}
.tabItem2{width: 20%;
    height: 30px;float: left;line-height: 30px;
    text-align: center;
    border-radius: 5px;
    color: #fbb040;
    font-size: .8rem;
}

.tab{
    width: 100%;height: 30px;
	margin-top:5rem
  
}
.tabItem{
    width: 20%;
    height: 30px;float: left;line-height: 30px;
    font-size: .8rem;
}



.qianList ul li{
    font-size: .5rem;
}
.bannerWap{
	margin-top:15px
}

.spes{
position:absolute
}
.topMenu{
position:absolute;
right:10px;
width: auto;
}
    
}









